extends layout 
 
block content 
  h1= title 
  if (toShow == null) 
    h2 No instance to update
  else
   - let roomid = toShow._id 
   - let roomName = toShow.roomName 
   - let roomNumber = toShow.roomNumber 
   - let roomShape = toShow.roomShape 
   
   div.row(class='mb-2') 
     div.mr-1 ID is 
     div #{roomid} 
   - let actionid = "/resource/rooms/" + roomid
   form(id='RoomForm', action= actionid, method="PUT") 
     div.form-group 
         label.roomAttr(for='roomName') Room type 
         input#roomName(type='text', name='roomName', value= roomName) 
     div.form-group 
         label.roomAttr(for='roomNumber') Room size 
         input#roomNumber(type='number', name='roomNumber', value= roomNumber ) 
     div.form-group 
         label.roomAttr(for='roomShape') Room cost 
         input#roomShape(type='text', name='roomShape', value= roomShape) 
     input(type="submit") 
 
   script. 
     document.forms['RoomForm'].addEventListener('submit', (event) => { 
     event.preventDefault(); 
       // TODO do something here to show user that form is being submitted 
       fetch(event.target.action, { 
         method: 'PUT', 
         body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
       }).then((resp) => { 
         return resp.json(); // or resp.text() or whatever the server sends 
       }).then((body) => { 
         alert("Save succeded") 
         // TODO handle body 
       }).catch((error) => { 
        // TODO handle error 
         alert("Save failed " + error ) 
       }); 
     }); 