extends layout 
 
block content 
  h1= title 
 
  form(id='RoomForm', action="/resource/rooms", method="POST") 
    div.form-group 
        label.roomAttr(for='roomName') Room type 
        input#roomName(type='text', name='roomName') 
    div.form-group 
        label.roomAttr(for='roomNumber') Room size 
        input#roomNumber(type='number', name='roomNumber') 
    div.form-group 
        label.roomAttr(for='roomShape') Room cost 
        input#roomShape(type='text', name='roomShape') 
    input(type="submit") 
 
  script. 
    document.forms['RoomForm'].addEventListener('submit', (event) => { 
    event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 